
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  height:100vh; 
  height: calc(var(--vh, 1vh) * 100);
  display:flex; 
  flex-direction:column;
}
.hidden {
  display: none;
}

/*-------------------------------
-------------------------------*/

.hintContainer {
  display: none;
}
.showHint{
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(255, 241, 222);
  padding: 10px;
  color: inherit;
}

/*-------------------------------
-------------------------------*/

.winBarContainer {
  display: none;
}
.showWinBar {
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(237, 236, 236);
  padding: 20px;
}
.dark-mode .showWinBar {
  background-color: rgb(70, 70, 70);
}
#hideBoard {
  display: none;
}
#hiddenWin {
  display: none;
}
#shownWin {
  display: flex;
  justify-content: center;
  align-content: center;
}
#shownWin img{
  width:70%;
  height:70%;
}
.failedBarContainer {
  display: none;
}
.showFailedBar {
  display: block;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(253, 125, 125);
  padding: 20px;
}
.dark-mode .showFailedBar {
  background-color: rgb(104, 0, 0);
}

/*-------------------------------
-------------------------------*/

.dark-mode {
  background-color: rgb(5, 5, 5);
  color: rgb(200, 200, 200);
}
.dark-mode .square {
  border: 2px solid rgb(200, 200, 200);
}
.dark-mode .header {
  border-top-color: rgb(0, 50, 0);
}
.dark-mode .startButton {
  background-color: rgb(35, 35, 35);
  color: rgb(200, 200, 200);
}
.dark-mode .header_right button:hover {
  background-color: rgb(40, 40, 40);
}
.dark-mode .showHint{
  background-color: rgba(255, 149, 0, 0.112);
}
.dark-mode .correctChar{
  background-color: rgb(153, 133, 8);
}
.dark-mode .correctLocation{
  background-color: rgb(17, 116, 17);
}
.dark-mode .incorrectChar{
  background-color: rgb(82, 82, 82);
}
/*-------------------------------
-------------------------------*/
.headerContainer {
  display: flex;
  flex-grow: 2;
  flex-shrink: 0;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: auto;
  padding: 0px 10px;
  background-color: inherit;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-width: 5px;
  border-bottom-width: 2px;
  border-top-color: rgb(0, 128, 0);
  
}
.header_left {
  flex: 0;
}
.header_center {
  font-size: 2rem;
  flex: 4;
  cursor: default;
  text-align: left;
  padding-left: 5px;
}
.header_right {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;
  font-size: 1.5rem;
  flex: 2;
}
.header_right button {
  width: 100%;
  height: 50px;
  padding: 0px 10px;
  border: none;
  background-color: inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  color: inherit;
}
.header_right button:hover {
  background-color: rgb(229, 229, 229);
}

/*-------------------------------
-------------------------------*/

.mainContentContainer .showWinCenter{
  display: none;
  flex-direction: column;
  flex: 1;
}

/*-------------------------------
-------------------------------*/

.mainContentContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.contentContainer {
  flex-grow: 150;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.info-tab {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: auto;
  color: inherit;
  border-top-style: solid;
  border-bottom-width: 2px;
}
.info-tab #info{
  padding: 20px;
}
#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 0px;
}
#board {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  box-sizing: border-box;
}
.square {
  border: 2px solid black;
  border-radius: 2px;
  text-align: center;
  min-width: 60px;
  min-height: 60px;
  font-size: 3rem;
}
.correctLocation{
  background-color: rgb(10, 193, 10);
}
.correctChar{
  background-color: rgb(230, 202, 19);
}
.incorrectChar{
  background-color: rgb(150, 150, 150);
}

/*-------------------------------
-------------------------------*/

.underKeyboardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  justify-content: center;
  align-content: center;
}

.startButton-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  justify-content: center;
  align-content: center;
  flex: 1;
  max-width: 510px;
}
.startButton {
  flex: 1;
  height: 38px;
  border-radius: 4px;
  border: none;
  background-color: rgb(229, 229, 229);
  margin: 2px;
  margin-top: 7px;
  margin-bottom: 9px;
  font-size: 1.2rem;
  color: inherit;
  padding: 0px;
}

.border {
  background-color: rgb(0, 158, 0);
}
.dark-mode .border {
  background-color: rgb(0, 50, 0);
}


/*-------------------------------
-------------------------------*/

.footerContainer {
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
}
.footer {
  background-color: inherit;
  border-top-style: solid;
  /*
  position: fixed;
  left: 0;
  bottom: 0;
  */

  border-top-width: 2px;
  text-align: center;
  padding: 3px;
}

/*-------------------------------
-------------------------------*/

#liStyle {
  list-style-type: circle;
  padding-bottom: 10px;
}
#h3Style {
  padding-left: 40px;
}

/*-------------------------------
-------------------------------*/

.keyboardContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keyboard {
  flex: 1;
  max-width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.keyboardRow0,
.keyboardRow2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.keyboardRow1Container1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.keyboardRow1{
  flex: 20;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buffer1,
.buffer2 {
  flex: 1;
}
.keyboard button {
  flex: 1;
  height: 38px;
  border-radius: 4px;
  border: none;
  background-color: rgb(229, 229, 229);
  margin: 2px;
  font-size: 1.2rem;
  color: inherit;
  padding: 0px;
}

.keyboard button#Enter,
.keyboard button#\<\<\< {
  flex: 1.5;
  font-size: 1rem;
}
.keyboard button.correctChar {
  background-color: rgb(230, 202, 19);
}
.keyboard button.correctLocation {
  background-color: rgb(10, 193, 10);
}
.keyboard button.incorrectChar {
  background-color: rgb(150, 150, 150);
}
.dark-mode .keyboard button {
  background-color: rgb(35, 35, 35);
}
.dark-mode .keyboard button.correctChar {
  background-color: rgb(153, 133, 8);
}
.dark-mode .keyboard button.correctLocation {
  background-color: rgb(17, 116, 17);
}
.dark-mode .keyboard button.incorrectChar {
  background-color: rgb(82, 82, 82);
}

/*-------------------------------
-------------------------------*/

@media screen and (min-width: 500px) {
  .footerContainer {
    display: block;
  }
  .header {
    padding: 0px 30px;
  }
  .header_left {   
    flex: 2;
  }
  .header_right button{
    padding: 0px 0px;
    height: 78px;
  }
  .header_center {
    padding: 20px;
    text-align: center;
  }
  #board-container {
    padding-top: 20px;
  }
  #board {
    grid-gap: 2px;
  }
  .square {
    min-width: 70px;
    min-height: 70px;
    font-size: 3.5rem;
  }
  .contentContainer {
    flex-direction: row;
  }
  .info-tab {
    border-left: 2px solid;

  border-top-width: 0px;
  }
  .footer {
  padding: 10px;
  }
}

@media screen and (min-width: 850px) {
  .header_left {   
    flex: 1;
  }
  .header_right {
    flex: 1;
  }
}